body{
    background-attachment: fixed;
    background-position: center;
    background-image:url('logo.jpg');
    color:silver;
    font-family:cursive;
    background-repeat:no-repeat;
    background-size:cover;
}

p:first-letter{
    font-weight:bold;
    text-transform:small-caps;
    font-size:20px;
}
#keret{
    background:rgba(0,0,0,0.5);
    margin:0 auto;
    width:80%;
    padding-left:30px;
    padding-right:30px;
}
