body{
    background-attachment: fixed;
    background-position: center;
    background-image:url('logo.jpg');
    color:silver;
    font-family:cursive;
    background-repeat:no-repeat;
    background-size:cover;
}

p:first-letter{
    font-weight:bold;
    text-transform:small-caps;
    font-size:20px;
}
#keret{
    background:rgba(0,0,0,0.5);
    margin:0 auto;
    width:80%;
    padding-left:30px;
    padding-right:30px;
}
.kepek{
    width:25%;
    box-shadow:10px 10px 10px silver, -10px -10px 10px silver;
    border-radius:100px 0px;
    margin: 20px 20px 20px 20px;
}
#merci{
    margin-left:10%;
    margin-right:10%;
    width:80%;
}
table{
    width:100%;
}
td{
    width:50%;
}
input{
    background-color:transparent;
    font-weight:bold;
}
#jobb{
    text-align:right;
}
#merci1{
    float:right;
}
#merci2{
    float:left;
}
h1{
    text-align:center;
    letter-spacing:6px;
}
p{
    text-align:justify;
}
ul{
    list-style-image: url('ikon.jpg');
}
a{
    color:silver;
}
input{
    width:100px;
    color:silver;
    font-family:cursive;
}